{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}
    <h3 class="main-title mt-5">Le document demandé n'existe plus</h3>
    <div class="text-center mt-5">
        <img src="{{ asset('assets/magneto.gif') }}" alt="sorry burned" class="transparent">
    </div>
{% endblock %}


